extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot your password?
      p.lead.ma-bt-lg Enter your email and we'll send you instructions to reset your password.
      form.form.form--login(method='post', action='/api/v1/users/forgotPassword')
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', name='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Send reset link
