extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      p.lead.ma-bt-lg Enter a new password for your account.
      form.form.form--login(method='post', action=`/api/v1/users/resetPassword/${token}`)
        .form__group
          label.form__label(for='password') New password
          input#password.form__input(type='password', name='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm password
          input#passwordConfirm.form__input(type='password', name='passwordConfirm', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Reset password
